<div class="container m-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header bg-dark text-white">Revenue Ledger</h5>
                <div class="card-body bg-light text-dark">
                    <h5 class="card-title">Please enter your sales below.</h5>

                    <div class="row">
                        <div class="col-md-5">
                            <form #revenueForm="ngForm" (ngSubmit)="onSubmit(revenueForm)">
                                <input type="hidden" name="_id" #_id="ngModel"
                                    [(ngModel)]="revenueService.selectedRevenue._id">

                                <div class="row">
                                    <div class="mb-3">
                                        <label for="invoiceNumber">Invoice Number:</label>
                                        <input type="number" id="invoiceNumber" class="form-control" size="120" name="invoiceNumber" #name="ngModel" [(ngModel)]="revenueService.selectedRevenue.invoiceNumber" placeholder="Enter invoice number...">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="mb-3">
                                        <label for="date">Date:</label>
                                        <input type="date" id="date" class="form-control" size="120" max="120" name="date" #name="ngModel" [(ngModel)]="revenueService.selectedRevenue.date" placeholder="Enter date...">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="mb-3">
                                        <label for="date">Particulars:</label>
                                        <input type="text" id="particulars" class="form-control" size="120" max="120" name="particulars" #name="ngModel" [(ngModel)]="revenueService.selectedRevenue.particulars" placeholder="Enter particulars...">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="mb-3">
                                        <label for="amount">Amount:</label>
                                        <input type="number" id="amount" class="form-control" size="120" name="amount" #name="ngModel" [(ngModel)]="revenueService.selectedRevenue.amount" placeholder="Enter amount...">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="d-grid gap-2">
                                        
                                        <button class="btn btn-success" type="submit" [disabled]="!revenueForm.valid">Submit</button>

                                        <button class="btn btn-danger" type="button" (click)="resetForm(revenueForm)">Reset</button>
                                    </div>
                                </div>

                            </form>                        

                        </div>
                        <div class="col-md-7">

                            <table class="table">
                                <thead class="table-primary">
                                  <tr>
                                    <th scope="col">Invoice Number</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Particulars</th>
                                    <th scope="col">Amount</th>                        
                                  </tr>
                                </thead>
                                <tr class="table-primary" *ngFor="let rev of revenueService.revenues">
                                  <td>{{ rev.invoiceNumber }}</td>
                                  <td>{{ rev.date }}</td>
                                  <td>{{ rev.particulars }}</td>
                                  <td>{{ rev.amount }}</td>
                                  <td>
                                      <a class="action-btn" (click)="onEdit(rev)">
                                        <i class="material-icons">edit</i>
                                      </a>
                                      <a class="action-btn" (click)="onDelete(rev._id, revenueForm)">
                                        <i class="material-icons">delete</i>
                                      </a>
                                    </td>
                                </tr>
                              </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>